<div id="error">
<h2>$(ERROR404)</h2>
<div id="lel" style="display:none;">
    <img src="http://upload.wikimedia.org/wikipedia/de/b/b4/Schnurtelephon.png" alt="lel" id="lel" width="500">  
</div>
<script>
    setTimeout(function() {
        userInput = "";
        $(document).keypress(function(event) {
              userInput=userInput+String.fromCharCode(event.which);
              if(userInput === "11833") {
                  $("#lel").show(1000)
              }
        });
    }, 200);
</script>