<!DOCTYPE html>
<html>
    <head>
        <title>$(PAGE_TITLE)</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./templates/style.css" type="text/css">
    </head>
    <body>
        <a href="?"><h1>$(PAGE_TITLE)</h1></a>
        {CONTENT}
        <br /><br />
        <div id="footer">
	    <a href="?page=impressum">Impressum</a> - $(COPYRIGHT)
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="./templates/site.js"></script>
    </body>
</html>
