<div id="content" style="display:none;">

    <div id="questions_description">
        $(QUESTIONS_DESCRIPTION)
    </div>

    <div id="question_os" class="question">
        <h2>$(QUESTION_ONE)</h2>
        <div><img onclick="javascript:selectOS('windows');" alt="$(WINDOWS)" src="./media/images/windows.png" />$(WINDOWS)</div>
        <div><img onclick="javascript:selectOS('osx');" alt="$(MACOS)" src="./media/images/osx.png" />$(MACOS)</div>
        <div><img onclick="javascript:selectOS('linux');" alt="$(LINUX)" src="./media/images/linux.png" />$(LINUX)</div>
    </div>
    <div id="question_client" class="question" style="display:none;">
        <h2>$(QUESTION_TWO)</h2>
        <div><img onclick="javascript:selectClient('thunderbird');" alt="$(THUNDERBIRD)" src="./media/images/thunderbird.png" />$(THUNDERBIRD)</div>
        <div><img onclick="javascript:selectClient('browser');" alt="$(INTERNETBROWSER)" src="./media/images/internetbrowser.png" />$(INTERNETBROWSER)</div>
    </div>
    <div id="question_level" class="question" style="display:none;">
        <h2>$(QUESTION_THREE)</h2>

        <form oninput="if(input_range.value=='1')range_output.innerHTML='$(SLIDER_VALUE_1)';if(input_range.value=='2')range_output.innerHTML='$(SLIDER_VALUE_2)';if(input_range.value=='3')range_output.innerHTML='$(SLIDER_VALUE_3)';" name="question_answers">
            <input type="range" id="input_range" value="2" max="3" min="1">
            <p id="range_output">$(SLIDER_VALUE_2)</p> 
        </form>

        <br />
        <a href="javascript:submitQuestions();" class="button">$(START_DESCRIPTION)</a>
        <br />
        <br />
    </div>


    <form action="./index.php" method="get" name="question_answers" id="question_answers" style="display: none;">
        <input type="hidden" name="page" id="site" value="description">
        <input type="hidden" name="os" id="field_os">
        <input type="hidden" name="client" id="field_client">
        <input type="hidden" name="level" id="field_level">
    </form>

</div>
<script>setTimeout(function() {$("#content").show(500);}, 200);</script>
