<div style="width: 255px; text-align: left;margin: 0 auto;">
<br><br><br><br>
<h2>$(SOURCES)</h2><br>
<a href="https://emailselfdefense.fsf.org/ "target="_blank">Free Software Foundation</a>
<br><a href="https://www.iconfinder.com/icons/24463/mozilla_thunderbird_icon#size=128" target="_blank">Picture Thunderbird</a>
<br><a href="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Windows_logo_-_2012.svg/768px-Windows_logo_-_2012.svg.png" target="_blank">Picture Windows</a><br/>
Wikipedia:<br/>
<a href="https://de.wikipedia.org/wiki/Public-Key-Verschl%C3%BCsselungsverfahren" target="_blank">Public-Key-Verschlüsselung, </a><a href="https://de.wikipedia.org/wiki/RSA-Kryptosystem#Einwegfunktionen" target="_blank">RSA</a>
</div>
</div>
