<div class="mainpage content-box">
    <div>
        <p id="section1">
            $(SECTION_1)
        </p>
        <p id="section2">
            $(SECTION_2)
        </p>
    </div>
    <br>
    <br>
    <br>
    <a href="?page=questions" class="button">$(CONTINUE)</a>
    <br>
    <br>
    <br>
    <br>
    <a id="showmore" href="javascript:showInfographic();">$(MORE_INFO)</a>
    <br>
    <br>
    <img src="./media/images/full-infographic-$(LANG).png" alt="fullinfographic" id="main_img" style="display: none;">
</div>
