* {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica", Arial, sans-serif;
    color: #2B2B2B;
    text-align: center;

}

body {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
p {
    font-size: 20px;
}
p.justify {
    text-align: justify;
}
html {
    background: #E9E5E5;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
    color: #7C7C7C;
    text-decoration: none;
}

a {
    text-decoration: none;
}

#footer {
    margin-top: 20px;
    font-size: 12px;
    color: #7C7C7C;
}

#description {
    text-align: justify;
    margin-bottom: 20px;
}
a.button {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: white;
    font-size: 23px;
    background-color: #2222cc;
    border-radius: 8px;
}
#title {
	font-size: 30px;
	color: black;
}

.question img {
    width:  100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.question img:hover {
 transform: scale(1.2);
}
